<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <link rel = 'stylesheet' href='/style.css'>
  <title></title>
</head>
<body>
<img src="/photos/RosanneCashKingsRecordShop.jpg" alt="Picture Of Record Shop">
<br>
  <%= yield %>
</body>
</html>