<h1>All albums:</h1>

<% @albums.each do |album| %>
  <b>Name:</b>
  <%= album.name %>
  <b>by <%= album.artist.name %>.</b>
  <br>
  <a href="/albums/<%= album.id %>">View album</a>
  <hr>
<% end %>

<p></p>
<a href="/artists">Show All Artists.</a>

<br>



