<h1>Add a new album.</h1>

<form action="/albums" method="post">
  <label for="name">Album Name:</label>
  <input type="text" name="name">
  <label for="artist_id">Artist ID:</label>
  <input type="number" name="artist_id">
  
  <input type='submit' value="Add Album">
</form>
